html,
body {
  justify-content: center;
  flex-direction: column;
  max-width: 1440px;
  font-family: Roboto, Arial, Helvetica, sans-serif;
  margin: auto;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.9);
  z-index: 1000;
  animation: fadeOut 3s ease forwards; 
  animation-delay: 2s; 
}

.loader {
  border: 15px solid #9356DC;
  border-top: 15px solid #FF79DA;
  border-radius: 50%;
  width: 150px;
  height: 150px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; visibility: hidden; }
}



.centrage {
  display :flex;
  text-align: center;}

.centrageentete {
  text-align: center;
}

.policetitre {
  font-weight: 400;
  font-family: Shrikhand;
  font-size: 30px;
}

.petittitre {
  font-weight: 400;
  font-family: Shrikhand;
  font-size: 24px;
  align-items: baseline;
}

.police16 {
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
}

.police16bis {
  font-family: Roboto;
  font-weight: 300;
  font-size: 16px;
}


.police24 {
  font-family: Roboto;
  font-weight: 700;
  font-size: 24px;
}

.police18 {
  font-family: Roboto;
  font-weight: 300;
  font-size: 18px;
}

.grandtitre {
  font-size: 30px;
}

.encolonne {
  flex-direction: column;
}

.enblanc {
 color: #ffffff;
}

.ennoir {
  color:#000000;
}


.couleuricofonction {
  color :#353535;
}
.couleuricofonction:hover{
  color :#9356DC;
}

.titreenhaut {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 10px;
  font-weight: 400;
  font-family: Shrikhand;
  font-size: 30px;
}

.positionnement {
  background-color: #EAEAEA;
  text-align: center;
  padding: 1px;  
}

.header-section  {
  background-color: #F6F6F6; 
  text-align: center; 
  padding: 0 30px; 
  padding-bottom: 30px;
}

.titre-section {
  margin: 0; 
  font-family: Roboto, Arial, Helvetica, sans-serif; 
  font-weight: 700; 
  font-size: 24px; 
  padding: 20px 20px 0px 20px; 
}

.nomargin-smallpadding {
  margin: 0;
  padding: 10px;
}

.gris1 {
 background-color: #F6F6F6;
}

.gris2 {
 background-color: #EAEAEA;
}

.gris3 {
  background-color:#353535;
}

.espacebas {
  margin-bottom: 40px;
 }

.margezero {
  margin: 0%;
}

.taillemax {
  max-height: 350px;
}

.LargeurRestos {
  width : -webkit-fill-available;
  object-fit: cover;
}


.padding1 {
  padding: 1px;
}
.paddingh {
  padding: 30px 0px 0px 0px;
}

.padding10cote {
  padding : 10px 10px 10px 10px;
}


.padding30 {
  padding: 35px;
}

.padding40cote {
  padding : 0px 40px 0px 40px;
}

.padding30cote {
  padding : 0px 30px 0px 30px;
}

.padding20cote {
  padding : 20px 20px 0px 20px;
}

.passouligne {
  text-decoration: none;
}

.margin5px {
  margin: 5px; 
}

.agauche {
  float: left;
}

.agauche2 {
  width : -webkit-fill-available;
}

.largeurtitre {
  display: flex;
  justify-content: center;
}


.serreagauche {
  align-items: start;
}

.flex-center {
  display: flex;
  align-items: center;
}

.paddingbas30px {
  padding-bottom: 30px;
}

.paddinghaut20px {
  padding-top: 20px;
}

.padding20cotegauche {
  padding-left: 20px;
}

.menufonctionnement {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.engrille {
  display : grid;
  grid-gap: 85px;
}

.carterestaurant {
  width: 100%;
  cursor: pointer;
  position: relative;
  background-color: #ffffff;
  text-decoration: auto;
  border-radius: 15px;
 }

.carterestaurant .imagerestaurant {
  object-fit: cover;
  width: 100%;
  border-radius: 15px 15px 0 0;
}

.carterestaurant .emplacementg {
  display: grid;
  font-size: 17px;
  grid-template-columns: 2;
  color: #000000;
}

.carterestaurant .nomresto {
  font-weight: 600;
  margin-bottom: 4px;
  margin-top: 1.7px;
  font-size: 18px;  
  color: #000000;

}

.badgenouveau {
  background: #a6dcce;
  color: #3c8569;
  font-weight: 500;
  padding: 7px 7px;
  position: absolute;
  top: 16px;
  right: 16px;
  border-radius: 5px;
}

.flecheretour {
  position: absolute;
  margin-left: 20px;
  margin-top: 20px;
  font-size: larger;
  color: black;
  text-decoration: none;
}

.imagerestaurant .coeur {
  position :relative;
  right:10px;
  top: 10px;

}

h2i {
  margin-top: auto;
  font-size: 28px;
  font-family: shrikhand;
  font-weight: 300;
  font-style: italic;
}


h2 {
  margin-top: auto;
  font-size: 24px;
  font-family: Roboto;
  font-weight: 700;
}

h3 {
   width : 45px;
   margin-left: 30px;
   border-bottom-style: solid;
   border-bottom-color: #7bc9ab;
   border-bottom-width: 4.5px;
   padding-bottom: 10px;
}



.coeur {
  position: absolute;
  padding : 7px 7px;
  bottom: 30px;
  right: 16px;
  border-radius: 50%;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #020202;
  color: transparent;
}



.coeur::before {
  font-weight: bold;
  transition: color 3s ease-out;
  transition-duration: 3s;
}

.coeur:hover::before{
  content: "\f004";
  color: #9356DC;
  cursor: pointer;
  background: -webkit-linear-gradient(#9356DC,#FF79DA);
  -webkit-background-clip: text;
  background-clip: calc();
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
 }


 .coeurmenu {
  position: absolute;
  right: 35px;
  top: 35px;
  border-radius: 50%;
 -webkit-text-stroke-width: 1px;
 -webkit-text-stroke-color: #020202;
  color: transparent;
  padding-top :10px
}

.coeurmenu2 {
  padding-left: 40px;
  border-radius: 50%;
  -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: #020202;
   color: transparent;
   padding-top :10px
}

.coeurmenu2::before {
  font-weight: bold;
  transition: color 3s ease-out;
  transition-duration: 3s;
}

.coeurmenu2:hover::before{
  content: "\f004";
  color: #9356DC;
  cursor: pointer;
  background: -webkit-linear-gradient(#9356DC,#FF79DA);
  -webkit-background-clip: text;
  background-clip: calc();
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
 }

.coeurmenu::before {
  font-weight: bold;
  transition: color 3s ease-out;
  transition-duration: 3s;
}

.coeurmenu:hover::before{
  content: "\f004";
  color: #9356DC;
  cursor: pointer;
  background: -webkit-linear-gradient(#9356DC,#FF79DA);
  -webkit-background-clip: text;
  background-clip: calc();
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke-width: 0px;
 }

 .restaurant-section {
  background-color: #F6F6F6; 
  width: -webkit-fill-available; 
  object-fit: cover; 
 }

 .section-padding-flex {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 20px; 
  padding-left: 20px; 
}

.grille-resto {
      display: grid;
    grid-gap: 85px; 
    background-color: #F6F6F6; 
    padding: 10px; 
    margin-bottom: 40px; 
    margin: 50px; 
}

.footer-title-link {
  color: #ffffff; 
  text-decoration: none; 
  font-weight: 400; 
  font-family: Shrikhand; 
  font-size: 24px;
  margin-left: 20px;
}

.fonctionnement button {
  width: 290px;
  height: 70px;
  border : none;
  border-radius: 10px;
  color : #000000;
  background-color: #F6F6F6;
  font-size: 16px;
  cursor:pointer;
  box-shadow: 0px 4px 15px 0px #00000026;
  margin-top: 5px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.header-section button {
  border:none;
  border-radius: 100px;
  color: #ffffff; 
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(#FF79DA,#9356DC);
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #000000;
  margin-top: 1rem;
}

.commanderbutton button {
  border:none;
  width: 186px;
  border-radius: 100px;
  color: #ffffff; 
  font-size: 16px;
  font-weight: 500;
  background-image: linear-gradient(#FF79DA,#9356DC);
  padding: 1rem 2rem;
  cursor: pointer;
  box-shadow: 0px 0px 10px 0px #000000;
  margin-top: 1rem;
}

.survolcoeur:hover {
  background-image: linear-gradient(#fe9de3,#a97edc);
  box-shadow: 0px 0px 25px 0px #000000;
}

.nomargin-smallpadding {
  margin: 0%;
  padding: 10px;
}


.basdepage {
  color: #ffffff;
  font-family: Roboto;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  line-height: 25px;
  background-color:#353535;
}

.numeroF {
  position : relative;
  left : -20px;
  background :#9356DC;
  color :#EAEAEA;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.enviolet {
  color: #9356DC;
}

.menus {
  background-color: #f2f2f2;
  max-width: 1024px;
  flex-direction: column;
  margin-top: -40px;
  padding: 0px 0px 40px;
  border-radius: 40px 40px 15px 15px;
  position: relative;
  z-index: 2;
  margin-left: auto;
  margin-right: auto;
}





.loaderContainer {
  animation: fadein 3s; 
  width: 100%;
  height: 100vh;
  position: fixed;
  background-color: white;
}


@keyframes fadein {
  0% {
      opacity:0;
  }
  100% {
      opacity:1;
  }
}






.menus_carte_texte {
  flex-grow: 1;
  margin-right: 10px;
  margin-left: 10px;
  width : 60%;
  white-space: nowrap;
  overflow: hidden;
}

.menus_carte_texte_description {
  white-space:nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: inherit;
}

.menus_carte_prix {
  display: flex;
  font-weight: bold;
  margin-right: 0px;
  margin-left: auto;
  left: 100px;
  align-items: center;
}

.check {
  display: flex;
  opacity: 0%;
  justify-content: center;
  align-items: center;
  background-color: #99E2D0;
  width: 4rem;
  height: 100%;
  margin-right: -50px;
  border-radius: 0 15px 15px 0;
  transition: all 600ms ease-in-out;
  margin-left: 10px;
 }


.check:hover {
opacity: 100%;
display: flex;
margin-right: 0px;
}

.check_icon {
  color: #FFFFFF;
}




.chargement {
display: flex;
}

.animation {
display: flex;
}

@keyframes slideInFromRight {
  0% {
    transform: translateX(100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}



.menus_carte {
  display: flex;
  justify-content: space-between;
  
  width: 90%;
  height: 90px;
  background-color: white;
  border-radius: 20px;
  margin: 10px 0px;
  z-index: 1;
  transition: box-shadow 0.3s ease-in-out; 
  overflow: hidden;
  opacity: 0; 
  animation: slideInFromRight 1s ease forwards;
}


.menus_carte:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}


.menus_carte_prix {
  display: flex;
  font-weight: bold;
  margin-right: 0px;
  margin-left: auto;
  align-items: end;
  transition: transform 0.3s ease-in-out;
}




.menus_carte:hover .check {
  opacity: 1; 
  margin-right: 0px; 
}

.menus_carte {
  animation: slideInFromRight 1s ease forwards;
}


.menus_carte[tempo="1s"] {
  animation-delay: 1s;
}
.menus_carte[tempo="2s"] {
  animation-delay: 2s;
}
.menus_carte[tempo="3s"] {
  animation-delay: 3s;
}
.menus_carte[tempo="4s"] {
  animation-delay: 4s;
}
.menus_carte[tempo="5s"] {
  animation-delay: 5s;
}
.menus_carte[tempo="6s"] {
  animation-delay: 6s;
}
.menus_carte[tempo="7s"] {
  animation-delay: 7s;
}
.menus_carte[tempo="8s"] {
  animation-delay: 8s;
}
.menus_carte[tempo="9s"] {
  animation-delay: 9s;
}
.menus_carte[tempo="10s"] {
  animation-delay: 10s;
}

.menus_carte_texte h4,
.menus_carte_texte p {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 100%;
}


.footer {
  background-color: #353535; 
  color: #ffffff; 
  padding: 20px; 
  text-align: center; 
}

.footer-list {
  list-style: none; 
  padding: 0; 
  margin: 0; 
  display: flex; 
  flex-direction: column;
  align-items: center; 
}

.footer-item {
  margin-bottom: 10px; 
}

.footer-link {
  color: #ffffff; 
  text-decoration: none; 
}





@media (min-width: 768px) {
  .footer {
    display: flex;
    justify-content: right;
    background-color: #353535; 
    color: #ffffff; 
    padding: 30px; 
    text-align: right; 
  }
  
  .footer-list {
    list-style: none; 
    padding: 0; 
    margin: 0; 
    display: flex; 
    flex-direction: row-reverse;
    align-items: center; 
  }
  
  .footer-item {
    margin-bottom: -20px; 
    padding-left: 40px;
  }
  
  .footer-link {
    color: #ffffff; 
    text-decoration: none; 
  }

  .footer-text-link {
    text-decoration: none;
    color: #ffffff;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    
  }

  .footer-content {
    display: flex;
    flex-direction: row-reverse;
    align-items: baseline;
  }
}





@media all and (max-width: 768px) {
  .footer-content {
    flex-wrap:wrap;
  }


  .menus_carte_texte h4,
  .menus_carte_texte p {
    overflow: hidden;
    text-overflow: ellipsis;
  }

}



@media all and (min-width: 1400px) {
  .menufonctionnement {
    display: flex;
    gap: 25px;
    flex-direction: row ;
  }

  .engrille {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
   

  }
  .padding20cotegauche {
    padding-left: 70px;
}
  .carterestaurant {
    width : 45%;

  }

  .margin50px {
    margin-left: 50px;
    margin-right: 50px;
  }


  .positionbasdroite {
    display: flex;
    position : absolute;
    right: 15px;
    bottom: 15px;
  }


}

@media all and (max-width: 475px) {
.menus_carte_texte{
  width : 80%;
}  

.footer-title-link {
  margin-left: 0%;
}

}

